<h3><i class="far fa-list-alt"></i> Ez Student App</h3>
<div class="section">
    <p class="lead">Version 1.0.0</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn teal accent-3 ">
        <i class="fab fa-google left"></i> Login With google
    </a>
</div>